/* GENERAL */
	
	html{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		background-image: url("Images/IMG_8100.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100vw;
		height: 100vh;
	}

	body{
		margin: 0;
	}

	.body{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80vw;
		height: 80vh;
		background-color: #FFFFFF;
		color: #1E1E1E;
		font-family: GeosansLight;
		overflow: auto;
	}

	::selection{
		background-color: #1E1E1E;
		color: #FFFFFF;
	}
	
	::-moz-selection {
		background-color: #1E1E1E;
		color: #FFFFFF;
	}

	::placeholder{
		font-family: GeosansLight;
	}

	@font-face{
		font-family: GeosansLight;
		src: url("police/geo_sans_light/GeosansLight.ttf")
	}

	/* HEADER */

		header{
			width: 100%;
			height: 8vh;
		}

		header nav{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 8vh;
		}

		header nav ul{
			display: flex;
			flex-direction: row;
			justify-content: center;
			list-style-type: none;
			padding: 0;
		}

		header nav li{
			padding: 10px 25px;
			margin: 0 5px;
		}

		header nav li a{
			font-size: 20px;
			color: #1E1E1E;
			text-decoration: none;
		}

	/* FOOTER */

		footer{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 100%;
			background-color: #FFFFFF;
		}

		footer nav{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 20px;
		}

		footer nav ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			list-style-type: none;
			padding: 0;
		}

		footer nav li{
			padding: 5px;
		}

		footer nav li a{
			font-size: 20px;
			color: #1E1E1E;
			text-decoration: none;
		}

/* ACCEUIL */

	#accueil{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#accueil h2{
		padding: 20px;
		text-align: center;
	}

	#img_minitel{
		width: 100%;
		max-width: 1000px;
		min-width: 500px;
		padding: 20px;
	}

	#accueil p{
		width: 60vw;
		text-align: center;
	}

/* INSCRIPTION */

	#inscription{
		width: 100%;
		height: 90vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#inscription form{
		width: 60vw;
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#inscription input[type=submit]{
		font-family: GeosansLight;
		color: #000000;
	}

	.inscription_2{
		width: 98%;
		margin: 10px auto;
		padding: 1%;
		font-size: 1vw;
		background-color: #FFFFFF;
		font-family: GeosansLight;
		color: #1E1E1E;
		border: solid 1px #000000;
	}

/* CONNEXION */

	#connexion{
		width: 100%;
		height: 90vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#connexion form{
		width: 60vw;
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#connexion input[type=submit]{
		font-family: GeosansLight;
		color: #000000;
	}

	.connexion_2{
		width: 98%;
		margin: 10px auto;
		padding: 1%;
		font-size: 1vw;
		background-color: #FFFFFF;
		border: solid 1px #000000;
		color: #1E1E1E;
	}

/* PROFIL */

	#compte{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#compte fieldset{
		width: 60vw;
		padding: 0 30px;
		margin: 20px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#compte input[type=submit]{
		font-family: GeosansLight;
	}

	.compte_2{
		width: 98%;
		margin: 10px auto;
		padding: 1%;
		font-size: 1vw;
		background-color: #FFFFFF;
		border: 0;
		color: #1E1E1E;
	}